html, body {
    line-height: 1.5;
}

header button {
    float: right;
    margin: 0 5px;
    background-color: rgb(113, 182, 225);
    color: white;
    padding: 10px 5px
}


header button a {
    text-decoration: none;
    color: white;
}

#title {
    font-family: 'Neucha', Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;   
    color: red;
    padding-top: 32px;
    margin: 0;
    border: 0;
}

.ul-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;   
    text-decoration: none;
    margin: 50px 40px 64px 40px;
    padding: 0;
}

.ul-nav li {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    border: solid 2px orange;
}

.nav-link {
    color: black;
    font-size: 22px;  
    text-decoration: none;
}

.mainP {
    display: block;
    background-color: #e7ce84;
}  
        
