html, body {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.5;
}

main {
    margin: 4px;
    padding: 4px;
}

footer {
    margin: 4px;
    padding: 4px;    
}

body {
    font-family: 'IBM Plex Serif', Georgia, serif;
    font-size: 16px;
    color: black;
}

main {
    background-color: #fffefb;
}

header {
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.25);
}

#title {
    font-family: 'Neucha', Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;   
    color: red;
    padding-top: 32px;
    margin: 0;
    border: 0;
}

.ul-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;   
    text-decoration: none;
}

.ul-nav li {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    border: solid 2px orange;
}

.nav-link {
    color: black;
    font-size: 22px;  
    text-decoration: none;
}

.mainP {
    display: block;
    background-color: #e7ce84;
}

.log_in {
    float: right;
    Margin: 32px;
    background-color: lightskyblue;
}

.log_in a {
    text-decoration: none;
}

.blue {
    display: inline-block;
    border: solid 5px blue;
    margin: 40px;
}

.roommate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.roommate img {
    width: 300px;
    height: 400px;
}

.posting {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.posting img {
    width: 300px;
    height: 400px;
}

